<?xml version="1.0"?>
<xex>
  <format>
    <compressed/>
  </format>
  <mediatypes>
    <allpackages/>
  </mediatypes>
  <gameregion>
    <all/>
  </gameregion>
  <sysdll/>
  <version major="0x00" minor="0x00" build="0x00" qfe="0x00"/>.
  <mfgmode mode = "aware"/>
  <baseaddr addr = "0x91C40000"/>
</xex>